<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "WARN">
    <Properties>
        <property name="pattern_0">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n
        </property>
    </Properties>
    <Appenders>
        <RollingFile name="File" fileName="logs/text.log" append="true"
                     filePattern = "logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_0}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level = "debug">
            <AppenderRef ref = "File"/>
            <AppenderRef ref = "Console"/>
        </Root>
    </Loggers>
</Configuration>