* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    width: 100%;
    height: 100vh;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    background: #fff;
    padding: 4rem;
    border-radius: 15px;
}

.inputs {
    display: grid;
}

.input {
    /*margin: 0.5rem 0;*/
    padding: 0.3rem;
}
.error{
    color:red;
}
.button {
    background: blue;
    /*padding: 0.5rem;*/
    color: #fff;
    font-weight: bold;
    margin: 0.5rem 0;
    width: 200px;
    border-radius: 12px;
    padding: 7px 0;
    border: none;
    display: block;
    align: center;
}

.text {
    display: block;
}